#
# CMake 
#
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

#
# C++
#
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sh

#
# Build and doxygen related
#
Documentation/
doc/doxygen/html/
doc/doxygen/latex/
build*/
bin/
lib/

#
# Spice Kernel creation tools
#
Tudat/External/SpiceInterface/Kernels/KernelMerge/
Tudat/External/SpiceInterface/Kernels/

#
# Editor related
#
*~
*#
.#*
*.autosave
*.~?~
*.save
.DS_Store
.git

tudatApplications/Space4ErrBody.git/.git
*.DS_Store
/tudat/Tudat/External/SpiceInterface/Kernels/de-403-masses.tpc
/tudat/Tudat/External/SpiceInterface/Kernels/de421.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_jup310_small.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_jup310_small.inp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_mar097_small.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_mar097_small.inp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_small.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/de430_small.inp
/tudat/Tudat/External/SpiceInterface/Kernels/earth_fixed.tf
/tudat/Tudat/External/SpiceInterface/Kernels/earth_latest_high_prec.bpc
/tudat/Tudat/External/SpiceInterface/Kernels/gm_de431.tpc
/tudat/Tudat/External/SpiceInterface/Kernels/jup310_small.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/jup310_small.inp
/tudat/Tudat/External/SpiceInterface/Kernels/mar097_small.bsp
/tudat/Tudat/External/SpiceInterface/Kernels/mar097_small.inp
/tudat/Tudat/External/SpiceInterface/Kernels/moon_080317.tf
/tudat/Tudat/External/SpiceInterface/Kernels/moon_assoc_pa.tf
/tudat/Tudat/External/SpiceInterface/Kernels/naif0012.tls
/tudat/Tudat/External/SpiceInterface/Kernels/pck00009.tpc
/tudat/Tudat/External/SpiceInterface/Kernels/pck00010.tpc
